@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("slick-carousel/slick/slick-theme.css");
@import url("slick-carousel/slick/slick.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

.app {
  overflow: hidden;
}

.slick-dots li.slick-active {
  margin-right: 25px;
}

.slick-dots .slick-active button::before {
  background-color: #3dcfd3;
  width: 30px;
}

::-webkit-scrollbar {
  width: 10px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #3dcfd3;
  border-radius: 8px;
}

[data-aos][data-aos][data-aos-duration="2000"],
body[data-aos-duration="2000"] [data-aos] {
  transition-duration: 2s;
}

[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease;
}

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-aos="fade-up"] {
  transform: translate3d(0, 100px, 0);
}

[data-aos="fade-down"] {
  transform: translate3d(0, -100px, 0);
}

[data-aos="fade-right"] {
  transform: translate3d(-100px, 0, 0);
}

[data-aos="fade-left"] {
  transform: translate3d(100px, 0, 0);
}

[data-aos^="zoom"][data-aos^="zoom"] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-aos="zoom-out"] {
  transform: scale(1.2);
}
